#### [`SageMathCell Version`](https://olgabelitskaya.github.io/sql_cookbook.html) & [`SageMathCell Test Example`](https://olgabelitskaya.github.io/sql_test.html)
## ðŸ“‘ Creating SQL Databases

In [1]:
import zipfile,sqlite3,os; import pandas as pd
import numpy as np,sympy as sp,pylab as pl
import warnings; warnings.filterwarnings("ignore")
from IPython.core.display import display,HTML
from IPython.core.magic import register_line_magic
@register_line_magic
def get_query(q):
    sp.pprint(r'SQL Queries')
    tr=[]; cursor.execute(q)
    result=cursor.fetchall()
    for r in result: 
        tr+=[r]
    display(pd.DataFrame.from_records(tr)\
              .style.set_table_styles(style_dict))
def connect_to_db(dbf):
    sqlconn=None
    try:
        sqlconn=sqlite3.connect(dbf)
        return sqlconn
    except Error as err:
        print(err)
        if sqlconn is not None:
            sqlconn.close()
connection=connect_to_db('example.db')
if connection is not None:
    cursor=connection.cursor()
thp=[('font-size','15px'),('text-align','center'),
     ('font-weight','bold'),('padding','5px 5px'),
     ('color','white'),('background-color','slategray')]
tdp=[('font-size','14px'),('padding','5px 5px'),
     ('text-align','center'),('color','darkblue'),
     ('background-color','silver')]
style_dict=[dict(selector='th',props=thp),
            dict(selector='td',props=tdp)]
[os.listdir(),os.listdir('../input'),
 os.listdir('../input/data-science-for-good')]

[['example.db', '__notebook__.ipynb'],
 ['data-science-for-good', 'nba-all-star-game-20002016'],
 ['D5 SHSAT Registrations and Testers.csv', '2016 School Explorer.csv']]

## ðŸ“‘ Create SQL Tables

In [2]:
df1=pd.DataFrame({'key':['A','B','C','D','F','F'],
                  'value':np.random.randn(6)})
df2=pd.DataFrame({'key':['B','D','D','E','F'],
                  'value':np.random.randn(5)})
for df in [df1,df2]:
    display(df.style.set_table_styles(style_dict))

In [3]:
# from pandas dataframes
df1.to_sql('df1',con=connection,
            index=False,if_exists='replace')
df2.to_sql('df2',con=connection,
            index=False,if_exists='replace')

In [4]:
# using the sqlite3 module
cursor.execute('''
CREATE TABLE IF NOT EXISTS projects (
id integer PRIMARY KEY,
name text NOT NULL,
begin_date text,
end_date text);
''')
cursor.execute('''
CREATE TABLE IF NOT EXISTS tasks (
id integer PRIMARY KEY,
name text NOT NULL,
priority integer,
status_id integer NOT NULL,
project_id integer NOT NULL,
begin_date text NOT NULL,
end_date text NOT NULL,
FOREIGN KEY (project_id) REFERENCES projects (id)
);
''')

In [5]:
def create_project(cursor,project):
    q='''INSERT INTO projects(name,begin_date,end_date)
         VALUES(?,?,?)'''
    cursor.execute(q,project)
    return cursor.lastrowid
def create_task(cursor,task):
    q='''INSERT INTO tasks(
         name,priority,status_id,
         project_id,begin_date,end_date
         ) VALUES(?,?,?,?,?,?)'''
    cursor.execute(q,task)
    return cursor.lastrowid
project1=('SQL CookBook with SageMathCell',
          '2020-02-04','2020-02-18')
project2=('SQL Tests',
          '2020-01-31','2020-02-14')
project_id1=create_project(cursor,project1)
project_id2=create_project(cursor,project2)
t=[('Page 1',int(1),int(1),
    project_id1,'2020-02-04','2020-02-12'),
   ('Page 2',int(1),int(1),
    project_id1,'2020-02-10','2020-02-18'),
   ('Test 1',int(1),int(1),
    project_id2,'2020-01-31','2020-02-01'),
   ('Test 2',int(1),int(1),
    project_id2,'2020-02-02','2020-02-03'),
   ('Test 3',int(1),int(1),
    project_id2,'2020-02-04','2020-02-05'),
   ('Test 4',int(1),int(1),
    project_id2,'2020-02-06','2020-02-07'),
   ('Test 5',int(1),int(1),
    project_id2,'2020-02-08','2020-02-09'),
   ('Test 6',int(1),int(1),
    project_id2,'2020-02-09','2020-02-10'),
   ('Test 7',int(1),int(1),
    project_id2,'2020-02-10','2020-02-11'),
   ('Dublicate',int(1),int(1),
    project_id2,'2020-02-11','2020-02-14')]
for task in t:        
    create_task(cursor,task)

In [6]:
# from pandas dataframes and csv files (external files)
url='https://raw.github.com/pydata/pandas/'+\
    'master/pandas/tests/data/tips.csv'
tips=pd.read_csv(url)
tips.to_sql('tips',con=connection,
            if_exists='replace')
tips.head(int(10)).style\
    .set_table_styles(style_dict)

In [7]:
# from pandas dataframes and csv files (internal files)
url2='../input/data-science-for-good/2016 School Explorer.csv'
se=pd.read_csv(url2)
percent_list = ['Percent ELL','Percent Asian','Percent Black',
                'Percent Hispanic','Percent Black / Hispanic',
                'Percent White','Student Attendance Rate',
                'Percent of Students Chronically Absent',
                'Rigorous Instruction %','Collaborative Teachers %',
                'Supportive Environment %',
                'Effective School Leadership %',
                'Strong Family-Community Ties %','Trust %']
geo_list=['Location Code','District']
target_list=['Average ELA Proficiency','Average Math Proficiency']
economic_list=['Economic Need Index','School Income Estimate']
rating_list=['Rigorous Instruction Rating','Collaborative Teachers Rating',
             'Supportive Environment Rating','Effective School Leadership Rating',
             'Strong Family-Community Ties Rating','Trust Rating',
             'Student Achievement Rating']
se=se[geo_list+percent_list+target_list+economic_list+rating_list].dropna()
se['School Income Estimate']=se['School Income Estimate'].astype('str') 
for s in [",","$"," "]:
    se['School Income Estimate']=se['School Income Estimate'].str.replace(s,"")
se['School Income Estimate']=se['School Income Estimate'].astype(float)
for el in percent_list:
    se[el]=se[el].astype('str')
    se[el]=se[el].str.replace("%","")
    se[el]=se[el].astype(float)
se.columns=se.columns.str.replace(' ','')
se.to_sql('schooledu',con=connection,
          if_exists='replace')
se.head(3).T.style.set_table_styles(style_dict)

In [8]:
# from pandas dataframes and csv files (internal files)
url3='../input/nba-all-star-game-20002016/NBA All Stars 2000-2016 - Sheet1.csv'
nba=pd.read_csv(url3).dropna()
nba.columns=nba.columns.str.replace(' ','')
nba.to_sql('nba',con=connection,
          if_exists='replace')
nba.head().T.style.set_table_styles(style_dict)

## ðŸ“‘ SQL Basic Queries

In [9]:
%get_query \
PRAGMA table_info("schooledu")

SQL Queries

In [10]:
pq=pd.read_sql_query('''
SELECT *
FROM df1,df2;
''',con=connection)
pq.set_axis(['key1','value1','key2','value2'],
            axis=1,inplace=True)
pq.style.set_table_styles(style_dict)

In [11]:
pq=pd.read_sql_query('''
SELECT *
FROM df1,df2
WHERE df1.key=df2.key AND df1.value>0
ORDER BY key DESC;
''',con=connection)
pq.set_axis(['key1','value1','key2','value2'],
            axis=1,inplace=True)
pq.style.set_table_styles(style_dict)

In [12]:
%get_query \
SELECT * \
FROM projects,tasks;

SQL Queries

In [13]:
%get_query \
SELECT COUNT(LocationCode),TrustRating  \
FROM schooledu \
GROUP BY TrustRating;

SQL Queries

In [14]:
%get_query \
SELECT DISTINCT Team  \
FROM nba \
WHERE Year=2014;

SQL Queries

## ðŸ“‘  SQL & Pandas Similarity

In [15]:
sp.pretty_print('Pandas Queries')
display(tips[['total_bill','tip','smoker','time']].head(int(7))\
.style.set_table_styles(style_dict))
%get_query \
SELECT total_bill,tip,smoker,time \
FROM tips \
LIMIT 7;

Pandas Queries

SQL Queries

In [16]:
sp.pretty_print('Pandas Queries')
display(tips[tips['time']=='Dinner'].head(int(3))\
.style.set_table_styles(style_dict))
%get_query \
SELECT * \
FROM tips \
WHERE time='Dinner' \
LIMIT 3;

Pandas Queries

SQL Queries

In [17]:
sp.pretty_print('Pandas Queries')
display(tips.groupby(['day','sex'])\
.agg({'tip':np.mean,'day':np.size})\
.style.set_table_styles(style_dict))
%get_query \
SELECT day,sex,AVG(tip),COUNT(*) \
FROM tips \
GROUP BY day,sex;

Pandas Queries

SQL Queries

In [18]:
sp.pretty_print('Pandas Queries')
display(pd.merge(df1,df2,on='key')\
.style.set_table_styles(style_dict))
%get_query \
SELECT * \
FROM df1 \
INNER JOIN df2 \
ON df1.key=df2.key;

Pandas Queries

SQL Queries

In [19]:
sp.pretty_print('Pandas Queries')
display(pd.merge(df1,df2,on='key',how='left')\
.style.set_table_styles(style_dict))
%get_query \
SELECT * \
FROM df1 \
LEFT OUTER JOIN df2 \
ON df1.key=df2.key;

Pandas Queries

SQL Queries

In [20]:
sp.pretty_print('Pandas Queries')
display(pd.concat([df1,df2]).set_index(pd.Index(range(11)))\
.style.set_table_styles(style_dict))
%get_query \
SELECT key,value \
FROM df1 \
UNION ALL \
SELECT key,value \
FROM df2;

Pandas Queries

SQL Queries

## ðŸ“‘ Close the Connection and Delete This Database

In [21]:
pd.read_sql_query('''
SELECT * from sqlite_master;
''',con=connection)\
.style.set_table_styles(style_dict)

In [22]:
if connection is not None:
    connection.close()
if os.path.exists('example.db'):
    os.remove('example.db')
else:
    print('The file does not exist')
os.listdir()

['__notebook__.ipynb']